/.DS_Store
*.csv
*.pkl
*.pt
*.json
*.txt
*.tsv
*.fasta
*.md
/ALL-TM-Vec_models
/BP_percent_growth.tsv
/CAFA_5_all_data_proteinData.pkl
/CC_percent_growth.tsv
/GO_Component_all_species.tsv
/GO_Function_all_species.tsv
/GO_Process_all_species.tsv
/IA_all.tsv
/MF_percent_growth.tsv
/PFP_BP_all_species.tsv
/PFP_CC_all_species.tsv
/PFP_MF_all_species.tsv
/PFP_models_on_CAFA_results
/PlasmoFPonCAFA
/README_embeddings.md
/README_uncertainty_analysis.md
/SAR-CNN
/TUNED_MODEL_ARCHS.json
/__pycache__
/all_TM_vec.ipynb
/analyze_fdr_threshold_metrics.py
/annotation_stats
/baseline_results
/blast_foldseek_eval.ipynb
/bp_publish
/bp_uncertainty_results
/cafa_cnn_models
# /cafa_preprocessing
/calculate_resnik_similarity.py
/cc_publish
/cc_uncertainty_results
/cluster_terms.ipynb
/cluster_terms_NEW.ipynb
/cluster_word_clouds
/clustering_results
/co-occurance
/co-occurance_publish
/combined_existing_pfp.txt
/combined_existing_pfp_NEW.txt
/component_mlb.pkl
/component_test_disorder_rate.tsv
/component_test_predictions_and_FDR
/component_test_predictions_and_FDR_new
/deepGOPluseval.ipynb
/deepest_annotations_NEW.pkl
/deepgoplus_proteinfer results
/disorder_analysis_results
/effective_thresholds_ensemble20_component.json
/effective_thresholds_ensemble20_function.json
/effective_thresholds_ensemble20_process.json
/existing_terms.txt
/existing_terms_NEW.txt
/fdr_analysis_summary.md
# /figure_2.ipynb
/function_disorder_rate_fdr_analysis.csv
/function_mlb.pkl
/function_test_disorder_rate.tsv
/function_test_predictions_and_FDR
/function_test_predictions_and_FDR_cum
/function_test_predictions_and_FDR_new
/gene_annotation_stats_with_PFP_new_threshold.csv
/generate_counts.ipynb
# /generate_embeddings.py
/generate_fdr_predictions.py
/go-basic.obo
/gocheck_do_not_annotate.obo
/heatmaps_row.png
/metrics_for_table_1.ipynb
/mf_publish
/mf_uncertainty_results
/mmseq_cluster.sh
/mmseqs_dedup
/new_inference_results
/new_pfp_terms.txt
/new_pfp_terms_NEW.txt
/old
/pfp_final_aug_3.code-workspace
/plasmodium_component_test_predictions_and_FDR
/plasmodium_component_test_predictions_and_FDR_NEW
/plasmodium_dedup_results
/plasmodium_function_test_predictions_and_FDR
/plasmodium_function_test_predictions_and_FDR_NEW
/plasmodium_process_test_predictions_and_FDR
/plasmodium_process_test_predictions_and_FDR_NEW
/predict_cafa_with_uncertainty.py
/predict_test_BP NEW.ipynb
/predict_with_models.py
/predict_with_models_v2.py
/predict_with_uncertainty.py
/predict_with_uncertainty_and_thresholds.py
/process_disorder_rate_fdr_analysis.csv
/process_mlb.pkl
/process_test_disorder_rate.tsv
/process_test_predictions_and_FDR
/process_test_predictions_and_FDR_new
/processed_data_90_30
/protein_infer_eval.ipynb
/resnik_BP_similarity_matrix.tsv
/resnik_CC_similarity_matrix.tsv
/resnik_MF_similarity_matrix.tsv
/resnik_similarity_matrix.tsv
/rna_binding.ipynb
/rna_binding_NEW.ipynb
/run_inference.ipynb
/sar_cnn_models
/tmp.ipynb
/train_CNN_ALL.ipynb
/uncertainty_analysis - Copy.py
# /uncertainty_analysis.py
/utils.py
/verify_cumulative_fdr_behavior.py